//Button Color
$globalButtonColor: #277bc0;

$colorRock: #e74c3c;
$colorPaper: #f1c40f;
$colorScissors: #16a085;

$fontAvenir: "Avenir", "Avenir Next", sans-serif;
$fontOptima: "Optima", "Optima Roman", "Segoe", sans-serif;
$fontGillSans: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
