@import "../globalCss/global";

.selected-handle-signal-img-wrapper {
  height: 130px;
  position: relative;
  svg {
    position: absolute;
    top: -5px;
    left: 135px;
  }
  .icon-rock {
    color: $colorRock;
  }
  .icon-paper {
    color: $colorPaper;
  }
  .icon-scissors {
    color: $colorScissors;
  }
}
