@import "../globalCss/global";

.start-page {
  .title-img-wrapper {
    height: 250px;
    position: relative;
    svg {
      animation: change-img-animation-not-transparent 0.9s infinite;
    }
    .icon-rock {
      background-color: transparent;
    }
    .icon-paper {
      animation-delay: 0.3s;
    }
    .icon-scissors {
      animation-delay: 0.6s;
    }
    .icon-rock {
      position: absolute;
      top: 20px;
      left: 140px;
      height: 100px;
      color: $colorRock;
    }
    .icon-paper {
      position: absolute;
      top: 125px;
      left: 85px;
      height: 100px;
      transform: rotate(-30deg);
      color: $colorPaper;
    }
    .icon-scissors {
      position: absolute;
      top: 125px;
      left: 215px;
      height: 100px;
      transform: rotate(35deg);
      color: $colorScissors;
    }
  }
  .start-button-wrapper {
    margin-top: 20px;
  }

  @keyframes change-img-animation-not-transparent {
    0% {
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.3;
    }
  }
}
